<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ORTSMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ORTSMonitor.Properties.Settings>
            <setting name="SignalsViewOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsoleViewOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TractionCharForceVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TractionCharAdhesionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TractionCharResistanceVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartSpeedLimitVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartSpeedVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartCurveVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartGradeVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartTractionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartTimeVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartDistanceVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrackMonitorVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrainDrivingVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2150</value>
            </setting>
            <setting name="LastSavedProject" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshRateMs" serializeAs="String">
                <value>450</value>
            </setting>
        </ORTSMonitor.Properties.Settings>
    </userSettings>
</configuration>